<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de mis familiares</h1>

    {% for familiar in lista_familiar %}
        <ul>
            <li> Nombre: {{familiar.nombre}}, Parentesco: {{familiar.parentesco}}, Ocupacion: {{familiar.ocupacion}}, DNI: {{familiar.DNI}}, Edad: {{familiar.edad}} </li>
        </ul>
    {% endfor %}

</body>
</html>